{% extends "base.html" %}
{% block content %}

    <style>
        .form-fields{
            display:flex;
            flex-direction:column;
        }
        section{ background-image:url(static/images/bg_service.png) }
    </style>

<div class="container">
  <div class="banner">

    <!-- Slides -->
    

    <div class="slide fade">
      <img class="slide-img" src="static/images/495248695_122106388412854511_3543073993007548854_n.jpg" alt="Slide 1">
      <div class="overlay"></div>
      <div class="banner-text">Welcome to Our Website</div>
    </div>

    <div class="slide fade">
      <img class="slide-img" src="static/images/500203428_122114291186854511_6973004770895506291_n.jpg" alt="Slide 2">
      <div class="overlay"></div>
      <div class="banner-text">Professional Services for You</div>
    </div>

    <div class="slide fade">
      <img class="slide-img" src="static/images/496068567_122106388592854511_4510510937001894578_n.jpg" alt="Slide 3">
      <div class="overlay"></div>
      <div class="banner-text">Grow With Us</div>
    </div>

    <div class="slide fade">
      <img class="slide-img" src="static/images/500342596_122114290562854511_6054792203013186068_n.jpg" alt="Slide 3">
      <div class="overlay"></div>
      <div class="banner-text">Grow With Us</div>
    </div>

     <div class="slide fade">
      <img class="slide-img" src="static/images/518257489_122126637188854511_5724311902695663176_n.jpg" alt="Slide 3">
      <div class="overlay"></div>
      <div class="banner-text">Grow With Us</div>
    </div>

    <!-- Tracking dots -->
    <div class="dots">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
    </div>

  </div>


  <div class="about-info gen-flex-col">
    <div class="logo-name gen-flex">
         <img src="static/images/plantco_logo_standard.png" class="logo-image" alt="logo" />
         <div class="name">PLANT CO. PTY LTD</div>
         
    </div>
    <p>Formerly known as Emfuleni Lifestyle, we have grown into a destination where nature and community meet. Our vibrant Plant Shop and Nursery are filled with diverse greenery, while our cozy Café invites you to relax and reconnect with the tranquility of nature.</p>
    <!-- <h1>Our Services</h1> -->
     <div class="buttons-cont gen-flex"><button class="btns">Contact US</button><button class="btns-outline">Restuarant Orders</button></div>
  </div>
  <div id="service-1" class="services gen-flex">
    <div class="service-content gen-flex-col">
      
      <div class="serv-title name"><i class="fa-solid fa-seedling"></i>  Plant Shop and Nursery</div>
      <p>Where a delightful array of plants awaits to inspire and enrich your green space</p>
    </div>
      <div id="serv-img-cont" class="image-gal-cont">
        <div class="services-image-slide-l">
          <div class="img-wrap">
            <img src="static/images/502617861_122115392420854511_2704426019414818185_n.jpg" />
            <div class="ser-overlay ">
              <h1>Flower</h1>
              <hr>
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          <div class="img-wrap">
            <img src="static/images/500120076_122114290190854511_8025995509442826810_n.jpg" />
            <div class="ser-overlay ">
              <h1>Flower</h1>
              <hr>
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          <div class="img-wrap">
            <img src="static/images/500765103_122114290286854511_7596797710457330902_n.jpg" />
            <div class="ser-overlay ">
              <h1>Flower</h1>
              <hr >
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          <div class="img-wrap">
            <img src="static/images/500687682_122114291168854511_5522493670016022523_n.jpg" />
            <div class="ser-overlayl">
              <h1>Flower</h1>
              <hr>
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
        </div>
    </div>

  </div>

  <div id="service-2" class="services gen-flex">

    <div class="image-gal-cont">
        <div class="services-image-slide-r">
          <div class="img-wrap">
            <img src="static/images/518960900_122126637272854511_7276216790612137756_n.jpg" />
            <div class="ser-overlay ">
              <h1>Red Cake</h1>
              <hr>
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          <div class="img-wrap">
            <img src="static/images/526839693_122129535794859349_4850462313180133027_n.jpg" />
            <div class="ser-overlay ">
              <h1>Red Cake</h1>
              <hr>
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          <div class="img-wrap">
            <img src="static/images/526636750_122129535890859349_5709320021507481046_n.jpg" />
            <div class="ser-overlay ">
              <h1>Red Cake</h1>
              <hr >
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          <div class="img-wrap">
            <img src="static/images/526297251_122129535596859349_6754661893048559649_n.jpg" />
            <div class="ser-overlayl">
              <h1>Red Cake</h1>
              <hr>
              <p>Fourth Image Caption Delicious cake delicious delicate</p>
            </div>
          </div>
          
        </div>
    </div>
    <div class="service-content gen-flex-col">
      <div class="serv-title name"><i data-lucide="coffee"></i>Cafe</div>
      <p>Unwind in our cozy Cafe surrounded by nature's tranquility</p>
    </div>

  </div>
  <!-- Landscaping  -->
  <div id="service-3" class="services gen-flex-col">

    <div class="service-content gen-flex-col">
      <div class="serv-title name"><i class="fa-solid fa-trowel"></i> Landscaping, Land Rehabilitation, and Erosion Control</div>
      <p>We are shaping beautiful spaces while restoring the earth and building sustainable environments that thrive.</p>
      <div class="buttons-cont gen-flex"><button class="btns-outline">Request Quote</button></div>
    </div>

    <div class="landscaping-img-cont">
      <a href="https://www.freepik.com/free-photo/beautiful-landscapes-iceland-while-travelling_18992979.htm#fromView=keyword&page=2&position=46&uuid=a09ef95b-0c08-4402-8659-3755dc4de7eb&query=Land+Rehabilitation">Image by freepik</a>
    </div>

    <img class="bg-image" src="static/images/beautiful-landscapes-iceland-while-travelling.jpg" />
  </div>

  <!-- Portfolio Section -->
<div class="portfolio-container gen-flex-col">
  <h1><i class="fa-solid fa-briefcase"></i> Portfolio</h1>
  <div class="portfolio-description">
    Explore our portfolio showcasing the beauty and diversity of our projects,
    from lush landscapes to vibrant plant arrangements.
  </div><br>

  <!-- Project 1 -->
   <div class="portfolio-items gen-flex">
      <div class="work-group gen-flex">
        <div class="work-item-thumb gen-flex-col" data-group="group1">
          <img src="static/images/500784851_122114290964854511_4983170973627242192_n.jpg" alt="Portfolio Image 1" />
          <h2>Project Title 1</h2>
          <label>Description of the project highlighting its unique features and impact.</label>
          <div class="i"><i data-lucide="images"></i></div> 
        </div>

        <!-- Hidden images for modal -->
        <div class="portfolio-images modal-images" data-group="group1">
          <div class="portfolio-image gen-flex-col">
            <img src="static/images/500784851_122114290964854511_4983170973627242192_n.jpg" alt="Portfolio Image 1" />
            <div class="portfolio-caption">Caption 1</div>
          </div>
          <div class="portfolio-image">
            <img src="static/images/495248695_122106388412854511_3543073993007548854_n.jpg" alt="Portfolio Image 2" />
            <div class="portfolio-caption">Caption 2</div>
          </div>
          <div class="portfolio-image">
            <img src="static/images/500881911_122114290292854511_8675030628005047577_n.jpg" alt="Portfolio Image 3" />
            <div class="portfolio-caption">Caption 3</div>
          </div>
        </div>
      </div>

      <!-- Project 2 -->
      <div class="work-group gen-flex-col">
        <div class="work-item-thumb gen-flex-col" data-group="group2">
          <img src="static/images/520763798_122126754242854511_1475534057620236262_n.jpg" alt="Portfolio Image 2" />
          <h2>Project Title 2</h2>
          <label>Description of the project highlighting its unique features and impact.</label>
          <div class="i"><i data-lucide="images"></i></div> 
        </div>

        <!-- Hidden images for modal -->
        <div class="portfolio-images modal-images" data-group="group2">
          <div class="portfolio-image">
            <img src="static/images/500554353_122114290754854511_6132066303129268756_n.jpg" alt="Portfolio Image 2" />
            <div class="portfolio-caption">Caption A</div>
          </div>
          <div class="portfolio-image">
            <img src="static/images/500765103_122114290286854511_7596797710457330902_n.jpg" alt="Portfolio Image 4" />
            <div class="portfolio-caption">Caption B</div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div id="portfolioModal" class="modal gen-flex-col">
  <span class="close">&times;</span>
  <div class="modal-content">
    <span class="arrow left">&#10094;</span>
    <div class="modal-image-container"></div>
    <span class="arrow right">&#10095;</span>
  </div>
  <div class="modal-caption"></div>
</div>


<!-- Contact Us Section -->
<div class="contact-container gen-flex-col" id="contact-us-div">
  <div id="contact-us" style="margin:60px auto; padding:20px;" class="border-spec">
      <div class="flash-messages" class="btns">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for  category, message in messages %}
                      <div class="flash-messages alert-{{category}}"> {{ message }}</div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      </div>
      <h1 style="color:#00be63 !important;padding-left:5px"><i class="fa-solid fa-envelope-open-text"></i> Contact Plant Co, <br><span class="spans"> Today!</span></h1>
      <div class="contact-form">
          <form style="width:100%;" action = "{{url_for('contact_us')}}" method="post" >
              {{contact_form.hidden_tag()}}
              <div  style="width:100%;">
                  {{contact_form.name(class="contact-form-control",placeholder="Name")}}
              </div>
              <div>
                  {{contact_form.email(class="contact-form-control",placeholder="Email Address")}}
              </div>
              <div>
                  {{contact_form.subject(class="contact-form-control",placeholder="Subject")}}
              </div>
              <div>
                  {{contact_form.message(class="contact-form-control  text-area",placeholder="Message")}}
              </div>
              <div>
                  {{contact_form.submit(class="btns")}}
              </div>
          </form>
      </div>
    </div>
</div>
<div style="height:300px;background-color:aliceblue">
  <div id="partners" class="partners gen-flex-col">
    <h1><i class="fa-solid fa-handshake"></i> Our Clients</h1>
    <div class="slider-container">
        <div class="partners-logos slider gen-flex">
          <div class="partner-logo">
            <img src="static/images/partner1.png" alt="Partner 1" />
          </div>
          <div class="partner-logo">
            <img src="static/images/partner2.png" alt="Partner 2" />
          </div>
          <div class="partner-logo">
            <img src="static/images/partner3.png" alt="Partner 3" />
          </div>
          <div class="partner-logo">
            <img src="static/images/partner4.png" alt="Partner 4" />
          </div>
        </div>
    </div>
</div>


</div>

<script>
    document.querySelector("#serv-img-cont")
      .addEventListener("click", () => {
        document.querySelector(".service-content").classList.add("hidden");
        document.querySelector(".image-gal-cont").classList.add("adjust");
      });

    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls (if you add arrows later)
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("slide");
    let dots = document.getElementsByClassName("dot");

    if (n > slides.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = slides.length }

    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    }

    // Auto slideshow
    setInterval(() => {
    slideIndex++;
    showSlides(slideIndex);
    }, 5000); // every 5 seconds

const slideR = document.querySelector('.services-image-slide-r');
const clone = slideR.cloneNode(true); 
slideR.appendChild(clone);

// if(window.innerWidth < 700){
const slider = document.querySelector(".services-image-slide-l");
let isDown = false;
let startX;
let scrollLeft;

slider.addEventListener("touchstart", (e) => {
    isDown = true;
    startX = e.touches[0].clientX;
    scrollLeft = slider.scrollLeft;
  }, { passive: true });

slider.addEventListener("touchend", () => {
    isDown = false;
  });

slider.addEventListener("touchmove", (e) => {
    if (!isDown) return;
    e.preventDefault(); // stop page from scrolling vertically
    const x = e.touches[0].clientX;
    const walk = startX - x;
    slider.scrollLeft = scrollLeft + walk;
  }, { passive: false });
  // }
</script>
{% endblock %}